footer{
  background: #3b3b3b;
  padding: 60px 0;
  color:#fff;
}

footer h3{
  color:#fff;
  font-size: 24px;
}

footer a{
  color: #464646;
  font-size: 18px;
}
footer a:hover{
  color:#e5493a;
}

.pl0{
  padding-left:0;
}

.border{
  border-bottom: 1px solid #363636;
  padding-bottom: 10px;
  padding-top: 10px;
}

.socseti{
  padding-bottom: 10px;
  padding-top: 10px;
}