span.red{
  background: $colorRed;
  color:#fff;
  padding: 0px 5px;
}

h1.topic{
  text-align: center;
}

a.calculate_cost {
  display: block;
  width: 270px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: $b;
  background: -moz-linear-gradient(270deg, rgba(254,0,0,1) 0%, rgba(186,3,3,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,0,0,1)), color-stop(100%, rgba(186,3,3,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(254,0,0,1) 0%, rgba(186,3,3,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(254,0,0,1) 0%, rgba(186,3,3,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(254,0,0,1) 0%, rgba(186,3,3,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(254,0,0,1) 0%, rgba(186,3,3,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#ba0303',GradientType=0 ); /* ie6-9 */
  font-size: 19px;
  color:#fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top:15px;
  padding: 5px;
  text-shadow: 1px 1px 3px $baseColor;
  margin-bottom: 40px;
}

a.calculate_cost:hover{
  text-decoration:none;
  background: -moz-linear-gradient(270deg, rgba(169,168,168,1) 0%, rgba(97,96,96,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169,168,168,1)), color-stop(100%, rgba(97,96,96,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(169,168,168,1) 0%, rgba(97,96,96,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(169,168,168,1) 0%, rgba(97,96,96,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(169,168,168,1) 0%, rgba(97,96,96,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(169,168,168,1) 0%, rgba(97,96,96,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a8a8', endColorstr='#616060',GradientType=0 ); /* ie6-9 */
}


@media (min-width: 1200px) {
  p.decision {
    text-align: center;
    font-size: 24px;
    width: 752px;
    margin: 0 auto;
    font-family: $l;
    margin-bottom:35px
  }

  h1.topic{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  section.how_works{
    padding-top:50px;
    padding-bottom:50px;
  }

  .reply{
    padding: 30px 0;
  }
}

p.decision {
  text-align: center;
  font-family: $l;
}

p.decision span{
  font-family: $b;
}

.caption_photo{
  display: block;
  width:100%;
  float: left;
  font-style: italic;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  font-size:16px;
  text-align: center;
  margin: 10px 0px;
  padding: 5px 0;
}

.how_works img{
  max-width: 100%;
}

.how_worksText{
  //font-family:$r;
  font-size: 16px;
}

.how_works img{
  margin-top: 30px;
}

.how_worksText span.textbold{
  font-family:$b;
}

.how_worksText span{
  color: $colorRed;
}

.workInfoWr{
  position: relative;
  cursor: pointer;
}



.workInfo{
  position: absolute;
  top: 0;
  display: none;
  background: #565656;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  opacity: 0.8;
  cursor:pointer;
}

.workInfoWr:hover .workInfo{
  display: block;
}

section.work_examples {
  padding: 0 15px;
}
.imgDesc{
  max-width: 100%;
  margin-botton:25px;
}

.workTitle {
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
  opacity: 1;
}

.workLine {
  display: block;
  height: 2px;
  width: 100px;
  background: #e50b0c;
  margin-bottom: 10px;
  opacity: 1;
}


.workInfoWr img{
  max-width: 100%;
  width:100%;
}

.workDate {
  color: #959595;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 10px;
}

.workView {
  text-align: center;
  
}
.work--imagebox {
  height: 200px;
  position: relative;
  width: 100%;
  @include overflow-img();
  img {
    max-width: 120%;
  }
}

.workView img{
  width: 33px;
}

h2{
  text-align: center;
  font-family: $b;
  padding-bottom: 35px;
}

h2.name_how_works{
  text-align:left;
}

.load_more{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  margin: 30px 0;
  cursor: pointer
}

.titleReply{
  font-family: $b;
}

.textReply{
  margin-bottom: 10px;
}

.input--line {
  float: left;
  width: 100%;
  margin: 10px 0;
  input[type="radio"], input[type="checkbox"] {
    display: none;
  }

  input[type="radio"] + label, input[type="checkbox"] + label {
    font-size: 14px;
    display: inline-block;
    font-weight: normal;
    color: #959595;
    //text-transform: inherit;
    
    margin: 0 15px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #ccc;
    height: 37px;
    line-height: 25px;
    vertical-align: middle;
    padding: 5px;
    span {
      margin: 0;
      //padding: 5px;
      cursor: pointer;
      display: inline-block;
      line-height:normal;
      &.tipDiz{
        font-size:12px;
        text-align: center;
      }
    }
  }
}

input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span{
  background: $colorRed;
  color: #fff;
  //padding: 5px;
}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label{
  background: $colorRed;
}

#text{
  resize: none;
  width: 100%;
  padding: 15px;
}

.infoValue{
  text-align: right;
  font-family:$b;
  span{
    margin-right: 15px;
    font-family:$mpr;
  }
}

.send_request,.sendMail{
  background: #8dc63f;
  border: none;
  padding: 9px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  margin-left: 15px;
  outline: none;
}

input[type="text"] {
  height: 37px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.custom_file_input_box {
  position: relative;
  &_btn {
    position: absolute;
    padding: 15px;
    width: 155px;
    font-size:12px;
    font-style: italic;
    color: #959595;
    height: 30px;
    background: url("../img/file.png") no-repeat 50% 96%;
    right: 0;
    top: 0;
  }
  &_input {
    opacity: 0;
  }
}

span.sumValue{
  margin: 0;
  font-family:$b;
}

.control-group label{
  float:left;
  margin-right: 17px;
  margin-top: 16px;
}

.formInput{
  height: auto;
  width: 100%;
}

.contacts__map {
  height: 260px;
  margin-top: 50px;
}