$colorRed: #f70000;
$baseColor: #333333;
body {
	font-family: $m;
	color: $baseColor;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #fff;
	font-size: 3.5em;
	text-align: center;
	margin-top: 15px;
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

footer, header, section, nav, .infoValue{
	width:100%;
	display: block;
	float: left;
}







