.main-carousel {
	float: left;
	width: 100%;
	margin: 25px 0;
	ul.slick-dots {
		top: 0;
		bottom: inherit;
		li button {
			background-color: $colorRed;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			width: 10px;
			height: 10px;
			    &:before {
			    	content: none;
			    }
		}
		li.slick-active button {
			background-color: #FFF;
		}
		li {
			width: 10px;
			height: 10px;
		}
	}
	.slick-slider-item.slick-slide.slick-active { 
		outline: none; 
	}
	.slick-slider-item {
		outline: none!important;     
	}
	:focus {
		outline: none!important;
	}

	& .sliderWr span.caption_photo{
		margin-top:30px;
	}
}

.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
}


.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
	background: $colorRed;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 4px;
	filter: Alpha(Opacity=50);
	 opacity: 1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #FFFFFF;
}


#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}

.allWork{
	display: none;
}
/*.owl-buttons {
	display: none;
}*/

/*

#lightbox-container-image-data-box, #lightbox-container-image-box {
	max-width: 90% !important;
}*/
